.thread {
    background-color: #2d4671;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
}

.thread_header {
    display: flex;
    border-bottom: 1px solid rgba(190, 190, 190, 0.1);
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.thread_header_contents {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    color: white;
    padding: 10px;
}

.thread_header_contents_info>h5 {
    font-weight: 500;
    color: gray;
}

.thread_header_details {
    color: white;
}

thread_header_details:hover {
    color: rgba(2, 150, 199);
}